<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="defaultPath" value="F:\Área de Trabalho\Indicador"/>
    <add key="filePath" value="F:\Área de Trabalho"/>
    <add key="fileName" value="01.xlsx"/>
  </appSettings>
</configuration>